<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Index Page</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">

    <div class="card">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Stop Time</th>
                    <td>Owner of the Delivery</td>
                    <td>Assigned Employee of the Delivery</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task:${tasks}">
                    <td th:text="${task.date}"></td>
                    <td th:text="${task.startTime}"></td>
                    <td th:text="${task.stopTime}"></td>
                    <td th:text="${task.customer.name}"></td>
                    <td th:text="${task.employee.name}"></td>
                    <!--TODO: uncomment once we have the edit endpoint implemented-->
                    <!--<td><a th:href="@{/editTask(id=${task.id})}" class="btn btn-dark">Edit</a></td>-->
                    <td><a href="" class="btn btn-dark">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>